@page "{handler?}"
@model SearchAutoCompleteModel
@{
    ViewData["Title"] = "Auto complete suggester";
}

<fieldset class="form">
    <legend>SEARCH for a document in the search engine</legend>
    <table width="500">
        <tr>
            <th></th>
        </tr>
        <tr>
            <td>
                <label for="autocomplete">Search: </label>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-control" id="autocomplete" type="text" style="width:500px" />
            </td>
        </tr>
    </table>
</fieldset>

@if (Model.PersonCities != null)
{

    var results = Model.PersonCities.Results;

    @for (var i = 0; i < results.Count; i++)
    {
<p>@results[i].Text</p>
        <div>
            <b><span><a href="@results[i].Document.Web">@results[i].Document.Name @results[i].Document.FamilyName</a>: @results[i].Document.CityCountry</span></b>
            <br />
            <em><span>@results[i].Document.Metadata</span></em><br />
            @Html.TextArea($"desc{1}", results[i].Document.Info, new { @class = "infotext" })
            <br />
        </div>
    }
}

@section scripts
{
    <script type="text/javascript">
        var items;
        $(document).ready(function () {
            $("input#autocomplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "SearchAutoComplete/AutoCompleteSuggest",
                        dataType: "json",
                        data: {
                            term: request.term,
                        },
                        success: function (data) {
                            var itemArray = new Array();
                            for (i = 0; i < data.length; i++) {
                                itemArray[i] = { label: data[i].Name, value: data[i].Name, data: data[i] }
                            }

                            console.log(itemArray);
                            response(itemArray);
                        },
                        error: function (data, type) {
                            console.log(type);
                        }
                    });
                },
                select: function (event, ui) {
                    $("#spanupdateId").text(ui.item.data.Id);
                    $("#deleteName").text(ui.item.data.Name);
                    console.log(ui.item);
                }
            });
        });
    </script>
}
