@page "/searchpaging"
@using BlazorAzureSearch.Shared
@using Azure.Search.Documents.Models
@inject HttpClient Http

<EditForm Model="@SearchData">
    <div class="searchBoxForm">
        <InputText @bind-Value="SearchData.SearchText" class="searchBox" ></InputText>
        <input class="searchBoxSubmit" @onclick="Search">
    </div>
</EditForm>

@if (SearchData.PersonCities != null)
{
    <p class="sampleText">
        Found @SearchData.PersonCities.TotalCount Documents
    </p>

    var results = SearchData.PersonCities.GetResults().ToList();

    @for (var i = 0; i < results.Count; i++)
    {
<div>
    <b><span><a href="@results[i].Document.Web">@results[i].Document.Name @results[i].Document.FamilyName</a>: @results[i].Document.CityCountry</span></b>
    @if (!string.IsNullOrEmpty(results[i].Document.Twitter))
    {
        <a href="@results[i].Document.Twitter"><img src="/images/socialTwitter.png" /></a>
    }
    @if (!string.IsNullOrEmpty(results[i].Document.Github))
    {
        <a href="@results[i].Document.Github"><img src="/images/github.png" /></a>
    }
    @if (!string.IsNullOrEmpty(results[i].Document.Mvp))
    {
        <a href="@results[i].Document.Mvp"><img src="/images/mvp.png" width="24" /></a>
    }
    <br />
    <em><span>@results[i].Document.Metadata</span></em><br />
    <InputText @bind-Value="results[i].Document.Info" class="infotext"></InputText>
    <br />
</div>
    }
}

@if (SearchData.PageCount > 1)
{
    <table>
        <tr>
            <td>
                @if (SearchData.CurrentPage > 0)
                {
                    <p class="pageButton">
                        <a href="/Search?handler=Paging&paging=0&SearchText=@SearchData.SearchText">|&#60;</a>
                    </p>
                }
                else
                {
                    <p class="pageButtonDisabled">|&lt;</p>
                }
            </td>

            <td>
                @if (SearchData.CurrentPage > 0)
                {
                    <p class="pageButton">
                        <a href="/Search?handler=Paging&paging=prev&SearchText=@SearchData.SearchText">&#60;</a>
                    </p>
                }
                else
                {
                    <p class="pageButtonDisabled">&lt;</p>
                }
            </td>

            @for (var pn = SearchData.LeftMostPage; pn < SearchData.LeftMostPage + SearchData.PageRange; pn++)
            {
                <td>
                    @if (SearchData.CurrentPage == pn)
                    {
                        <p class="pageSelected">@(pn + 1)</p>
                    }
                    else
                    {
                        <p class="pageButton">
                            @{var p1 = SearchData.PageCount - 1;}
                            <a href="/Search?handler=Paging&paging=@pn&SearchText=@SearchData.SearchText">@(pn + 1)</a>
                        </p>
                                }
                </td>

                                }

            <td>
                @if (SearchData.CurrentPage < SearchData.PageCount - 1)
                {
                    <p class="pageButton">
                        @{var p1 = SearchData.PageCount - 1;}
                        <a href="/Search?handler=Paging&paging=next&SearchText=@SearchData.SearchText">&#62;</a>
                    </p>
                            }
                            else
                            {
                    <p class="pageButtonDisabled">&gt;</p>
                            }
            </td>

            <td>
                @if (SearchData.CurrentPage < SearchData.PageCount - 1)
                {
                    <p class="pageButton">
                        @{var p7 = SearchData.PageCount - 1;}
                        <a href="/Search?handler=Paging&paging=@p7&SearchText=@SearchData.SearchText">&#62;|</a>
                    </p>
                            }
                            else
                            {
                    <p class="pageButtonDisabled">&gt;|</p>
                            }
            </td>
        </tr>
    </table>
}
@code {

    private SearchData SearchData { get; set; } = new SearchData();
    //private string SearchText { get; set; }
    //private int CurrentPage { get; set; }
    //private int PageCount { get; set; }
    //private int LeftMostPage { get; set; }
    //private int PageRange { get; set; }
    //private string Paging { get; set; }
    //private SearchResults<PersonCity> PersonCities;

    private int PageNo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //SearchData model = new SearchData
        //{
        //    SearchText = searchText
        //};

    }

    private async Task Search()
    {
        int page;

        switch (SearchData.Paging)
        {
            case "prev":
                page = PageNo - 1;
                break;

            case "next":
                page = PageNo + 1;
                break;

            default:
                page = int.Parse(SearchData.Paging);
                break;
        }

        int leftMostPage = SearchData.LeftMostPage;

        var searchData = new SearchData
        {
            SearchText = SearchData.SearchText,
            CurrentPage = SearchData.CurrentPage,
            PageCount = SearchData.PageCount,
            LeftMostPage = SearchData.LeftMostPage,
            PageRange = SearchData.PageRange,
            Paging = SearchData.Paging
        };

        var response = await Http.PostAsJsonAsync<SearchData>("SearchAdmin/DeleteIndex", searchData);
        response.EnsureSuccessStatusCode();
        string responseBody = await response.Content.ReadAsStringAsync();

        var deleteIndex = System.Text.Json.JsonSerializer.Deserialize<IndexResult>(responseBody);


        var searchDataResult = await Http.GetFromJsonAsync<SearchData>("Search/Paging");

        PageNo = page;
        SearchData = searchDataResult;

    }

}